* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header {
    padding-left: 25px;
}

#header-logo, #receita, #receita-img {
    padding: 10px 20px;
}

#container-receita {
    display: grid;
    height: 35vh;
    grid-template-rows: 1fr 1fr;
}

#receita {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#receita-img {
    width: 15vw;
    padding: 10px 25px;
}

#receita-title {
    width: 80vw;
    padding-left: 15vw;
}

#receita-name {
    font-size: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#redator {
    display: flex;
    height: 10vh;
    justify-content: center;
    padding: 10px 20px;
    font-size: 13px;
}

#instrucoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 35px;
}

#ingredientes, #ingredientes-lista, #preparo, #preparo-lista {
    padding: 7px;
}

#ingredientes-lista {
    list-style-position: inside;
    list-style-type: disc;
}

#ingredientes-lista > li, #preparo-lista > li {
    padding-bottom: 2px;
    font-size: 13px;
}

#preparo-lista {
    list-style-position: inside;
}

#footer {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 5px 20px;
    font-size: 13px;
}

a, a:hover, a:active, a:link, a:visited {
    text-decoration: none;
    color: rgb(255, 51, 0);
}